* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  padding: 0px 50px;
  margin: 0 auto;
  max-width: 1040px;
}

button {
  background-color: white;
}

form input:hover {
  background: rgba(196, 189, 237, 0.4);
}
form ::-webkit-input-placeholder {
  color: silver;
}
form ::-moz-placeholder {
  color: silver;
}
form :-ms-input-placeholder {
  color: silver;
}
form ::-ms-input-placeholder {
  color: silver;
}
form ::placeholder {
  color: silver;
}

select {
  padding: 5px 1px;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  border: solid 0.1px #808080;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

a {
  cursor: pointer;
}

.container {
  padding: 0px 30px;
}

.top-line {
  border-top: 10px solid #e0ffff;
  background-color: #0000ff;
  padding: 2.5px;
}

.header {
  background-color: #0000ff;
}
.header__navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__search {
  background-color: #0000ff;
}
.header__search:hover {
  border-bottom: 3px solid black;
}
.header__discounts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.header__discounts-row img {
  position: absolute;
  top: 17px;
  right: 0;
}
.header__row {
  padding: 13px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 30px;
  background-color: #0000ff;
}
.header__logo:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}
.header__discounts {
  color: white;
  font-size: 18px;
}
.header__access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
.header__access_link:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}
.header__access_link:first-child {
  margin-right: 30px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu_item {
  margin-right: 30px;
  background-color: #0000ff;
}
.header__menu_item:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}
.header__menu_item:last-child {
  margin-right: 0px;
}
.header__menu_item:first-child {
  margin-right: 0px;
  cursor: pointer;
}
.header__menu_counter {
  background-color: #000000;
  padding: 0px 5px;
  border-radius: 2px;
  color: white;
  max-height: 14px;
  margin-right: auto;
  margin-right: 30px;
}
.header img {
  max-width: 50px;
  max-height: 50px;
}

.user-menu {
  border: 5px solid #0000ff;
  overflow-y: auto;
  background-color: #e0ffff;
  position: fixed;
  width: 35%;
  height: 26.2%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.user-menu ::-webkit-input-placeholder {
  padding-left: 5px;
}
.user-menu ::-moz-placeholder {
  padding-left: 5px;
}
.user-menu :-ms-input-placeholder {
  padding-left: 5px;
}
.user-menu ::-ms-input-placeholder {
  padding-left: 5px;
}
.user-menu ::placeholder {
  padding-left: 5px;
}
.user-menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-menu__title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px;
  background-color: #0000ff;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  width: 80%;
  text-align: center;
  cursor: pointer;
}
.user-menu label {
  font-size: 15px;
  display: block;
  margin-bottom: -5px;
  margin-top: 10px;
}
.user-menu form {
  margin-top: -10px;
}
.user-menu__pass-block {
  display: none;
  margin-top: 5px;
}
.user-menu__addEmail {
  display: none;
  margin-top: 5px;
}
.user-menu__field {
  padding: 5px 0px;
  border: 1px solid black;
  border-radius: 5px;
}
.user-menu__email-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -10px;
}
.user-menu__data {
  position: relative;
}
.user-menu__data_show {
  position: absolute;
  top: 21px;
  right: -15px;
  max-width: 25px;
}
.user-menu__button {
  background-color: #0000ff;
  padding: 8px 13px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #e0ffff;
  margin-top: 10px;
  max-width: 60%;
}

.confirm-window {
  background-color: #e0ffff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 16%;
  border: 5px solid #0000ff;
  max-width: 35%;
}
.confirm-window__title {
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.confirm-window__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.confirm-window__row :last-child {
  margin-left: 30px;
}
.confirm-window__row button {
  padding: 5px 15px;
  background-color: #0000ff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.content-body {
  background-color: #e0ffff;
  padding-bottom: 30px;
}

.menu {
  padding: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
.menu a {
  color: #000000;
}
.menu li {
  position: relative;
  cursor: pointer;
}
.menu__list {
  margin-right: 30px;
  margin-bottom: 30px;
}
.menu__list:last-child {
  margin-right: 0px;
}
.menu :hover {
  background-color: #0000ff;
  color: white;
}
.menu :hover .sub-menu__link {
  padding: 10px;
}
.menu :hover a {
  color: white;
}
.menu__empty {
  text-decoration: line-through;
}
.menu__empty:hover {
  text-decoration: line-through;
}

.sub-menu__link {
  display: inline-block;
}

.menu li:hover .sub-menu {
  display: block;
  background-color: #0000ff;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 20;
}
.sub-menu li {
  padding: 10px 20px;
  min-width: 160px;
}

.sub-sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
  min-width: 160px;
}
.sub-sub-menu li {
  padding: 10px 20px;
}

.sub-menu li:hover .sub-sub-menu {
  display: block;
  background-color: #0000ff;
}

.sub-sub-sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
  min-width: 160px;
}
.sub-sub-sub-menu li {
  padding: 10px 20px;
}

.sub-sub-menu li:hover .sub-sub-sub-menu {
  display: block;
  background-color: #0000ff;
}

.products__row {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 942px;
  grid-template-columns: repeat(auto-fit, minmax(212.5px, 1fr));
  gap: 10px;
}
.products__product {
  margin-top: 3%;
}
.products__image {
  margin-bottom: 3px;
  position: relative;
  padding: 0px 0px 90% 0px;
}
.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__details {
  text-align: center;
  margin-top: -3px;
  border: solid 2px #0000ff;
  border-radius: 0px 0px 5px 5px;
  border-top: 0px;
  font-size: 14px;
}
.products__details_description {
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}
.products__details_sizes {
  margin-bottom: 10px;
}
.products__details_price {
  margin-bottom: 5px;
  font-weight: bold;
}
.products__details_add {
  padding: 5px 0px;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  background-color: #0000ff;
  color: white;
  font-size: 14px;
}
.products__details_active {
  background-color: #e0ffff;
  color: black;
  border-top: 2px solid #0000ff;
}

.approaching {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  width: 80%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.approaching img {
  max-height: 100%;
}
.approaching__close {
  background-color: #e0ffff;
  position: absolute;
  right: 0;
  top: 0;
}

.bucket {
  background-color: #e0ffff;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  overflow-y: auto;
}
.bucket__title {
  position: absolute;
  left: 30px;
  top: 5px;
  font-size: 25px;
  font-weight: bold;
}
.bucket__emty {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}
.bucket button {
  max-width: 50px;
  max-height: 50px;
  background-color: #e0ffff;
  margin-top: -50px;
}
.bucket__description {
  margin-bottom: 10px;
  font-size: 16px;
}
.bucket__size {
  margin-bottom: 10px;
}
.bucket__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bucket__element {
  font-size: 14px;
  padding: 5px 15px 5px 15px;
  min-width: 100%;
}
.bucket__close {
  margin-left: -30px;
}
.bucket__row {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 3px #0000ff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
}
.bucket__row button {
  max-width: 25px;
  max-height: 25px;
  margin-top: 0px;
}
.bucket__row button img {
  max-width: 25px;
  max-height: 25px;
}
.bucket__sum {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.bucket__order {
  font-size: 14px;
}
.bucket__order button {
  background-color: #0000ff;
  color: white;
  min-width: 100px;
  min-height: 40px;
  border-radius: 5px;
}

.window {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background: rgba(0, 0, 0, 0.9);
  width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.window__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.window__desc button {
  max-width: 25px;
  max-height: 25px;
  margin-top: 0px;
  background-color: #e0ffff;
}
.window__desc button img {
  max-width: 25px;
  max-height: 25px;
}
.window__title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 10px;
}

.order__title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 10px;
}
.order__data {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #0000ff;
  padding-bottom: 10px;
}
.order__data :first-child {
  padding-bottom: 5px;
}
.order__data :nth-child(2) {
  padding-bottom: 5px;
}
.order__contacts {
  border-bottom: 2px solid #0000ff;
  padding-bottom: 10px;
}
.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__confirm {
  background-color: #e0ffff;
  width: 500px;
  height: 520px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.order__comment {
  padding: 0px 10px;
}
.order__comment input {
  width: 100%;
}
.order__confirm-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}
.order__confirm-button button {
  background-color: #0000ff;
  border-radius: 5px;
  width: 100px;
  color: white;
  padding: 5px 5px;
}

.login__enter {
  border: 5px solid #0000ff;
  position: fixed;
  background-color: #e0ffff;
  width: 305px;
  height: 290px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.data input {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.data__field {
  margin-top: 10px;
  width: 90%;
  border: 1px solid black;
}
.data__pass-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.data__pass-row img {
  position: absolute;
  margin-top: 5px;
  right: 30px;
  max-width: 25px;
  max-height: 25px;
}
.data label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.data a {
  text-decoration: underline;
}
.data__row {
  margin-top: 10px;
  width: 85%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data__row label {
  margin-bottom: 5px;
}
.data__buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}
.data__buttons button {
  background-color: #0000ff;
  padding: 10px 20px;
  border-radius: 10px;
}

.errorMessage {
  padding: 0px 10px;
  color: red;
  font-size: 18px;
  text-align: center;
}

.addEmailErrorMessage {
  padding: 0px 10px;
  color: red;
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #0000ff;
  height: 76px;
}

.bottom-line {
  border-bottom: 10px solid #e0ffff;
  background-color: #0000ff;
  padding: 2.5px;
}