@import "nullstyle.scss";

.wrapper {
	padding: 0px 50px;
	margin: 0 auto;
	max-width: 1040px;
}
.container {
	padding: 0px 30px;
}


form {
	input:hover {
		background: rgba(196, 189, 237, 0.4);
	}

	::placeholder {
		color: silver;
	}
}

select {
	padding: 5px 1px;
	text-align: center;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	border: solid 0.1px #808080;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #808080;
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background-color: white;
}

a {
	cursor: pointer;
}

.top-line {
	border-top: 10px solid #e0ffff;
	background-color: #0000ff;
	padding: 2.5px;
}

.content-body {
	background-color: #e0ffff;
	padding-bottom: 30px;
}

.menu {
	padding: 30px 0px 0px 0px;
	display: flex;
	justify-content: center;
	font-size: 18px;
	color: #000000;
	font-weight: bold;

	a {
		color: #000000;
	}

	li {
		position: relative;
		cursor: pointer;
	}

	&__list {
		margin-right: 30px;
		margin-bottom: 30px;
	}

	&__list:last-child {
		margin-right: 0px;
	}

	:hover {
		background-color: #0000ff;

		.sub-menu__link {
			padding: 10px;
		}

		color: white;

		a {
			color: white;
		}
	}

	&__empty {
		text-decoration: line-through;
	}

	&__empty:hover {
		text-decoration: line-through;
	}
}

.sub-menu__link {
	display: inline-block;
}

.menu li:hover .sub-menu {
	display: block;
	background-color: #0000ff;
}

.sub-menu {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 20;

	li {
		padding: 10px 20px;
		min-width: 160px;
	}
}

.sub-sub-menu {
	display: none;
	position: absolute;
	z-index: 1;
	left: 100%;
	top: 0;
	min-width: 160px;

	li {
		padding: 10px 20px;
	}
}

.sub-menu li:hover {
	.sub-sub-menu {
		display: block;
		background-color: #0000ff;
	}
}

.sub-sub-sub-menu {
	display: none;
	position: absolute;
	z-index: 1;
	left: 100%;
	top: 0;
	min-width: 160px;

	li {
		padding: 10px 20px;
	}
}

.sub-sub-menu li:hover {
	.sub-sub-sub-menu {
		display: block;
		background-color: #0000ff;
	}
}

.window {
	position: fixed;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: black;
	background: rgba(0, 0, 0, 0.9);
	width: 1000px;
	height: 100%;
	display: flex;
	justify-content: space-between;

	&__desc {
		display: flex;
		justify-content: space-between;

		button {
			max-width: 25px;
			max-height: 25px;
			margin-top: 0px;
			background-color: #e0ffff;

			img {
				max-width: 25px;
				max-height: 25px;
			}
		}
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		padding: 10px 0px 10px 10px;
	}
}

.login {
	&__enter {
		border: 5px solid #0000ff;
		position: fixed;
		background-color: #e0ffff;
		width: 305px;
		height: 290px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.data {
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 5px
	}

	&__field {
		margin-top: 10px;
		width: 90%;
		border: 1px solid black;
	}

	&__pass-row {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;

		img {
			position: absolute;
			margin-top: 5px;
			right: 30px;
			max-width: 25px;
			max-height: 25px;
		}
	}

	label {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	a {
		text-decoration: underline;
	}

	&__row {
		margin-top: 10px;
		width: 85%;
		font-size: 16px;
		display: flex;
		justify-content: space-between;

		label {
			margin-bottom: 5px;
		}
	}

	&__buttons {
		margin-top: 15px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 85%;

		button {
			background-color: #0000ff;
			padding: 10px 20px;
			border-radius: 10px;
		}
	}
}

.errorMessage {
	padding: 0px 10px;
	color: red;
	font-size: 18px;
	text-align: center;
}

.addEmailErrorMessage {
	padding: 0px 10px;
	color: red;
	font-size: 18px;
	text-align: center;
}

.footer {
	background-color: #0000ff;
	height: 76px;
}

.bottom-line {
	border-bottom: 10px solid #e0ffff;
	background-color: #0000ff;
	padding: 2.5px;
}


@media(max-width: 800px){
	.window {
		width: 700px;
	}
	.wrapper {
		padding: 0px 20px;
		max-width: 740px;
	}
	.container {
		padding: 0px 20px;
	}
	.top-line {
		border-top: 6px solid #e0ffff;
	}
	.bottom-line {
		border-bottom: 6px solid #e0ffff;
	}
	.menu {
		padding: 15px 0px 0px 0px;
		font-size: 14px;
		&__list {	
			margin-bottom: 15px;
		}
		:hover {
			.sub-menu__link {
				padding: 6px;
			}
		}
	}
	.sub-menu {
		font-size: 14px;
		li {
			padding: 6px 6px;
			min-width: 120px;
		}
	}
	.sub-sub-menu {
		font-size: 14px;
		min-width: 120px;
	
		li {
			padding: 6px 6px;
		}
	}
	.sub-sub-sub-menu {
		min-width: 120px;
		
		li {
			padding: 6px 6px;
		}
	}
	.footer {
		height: 47px;
	}
}


@media(max-width: 600px){
	.window {
		width: 540px;
	}
	.wrapper {
		padding: 0px 7px;
		max-width: 540px;
	}
	.top-line {
		border-top: 3px solid #e0ffff;
		padding: 1.5px;
	}
	.bottom-line {
		border-bottom: 3px solid #e0ffff;
		padding: 1.5px;
	}

	.menu {
		padding: 10px 0px 0px 0px;
		&__list {	
			margin-bottom: 7px;
		}
	}
	.sub-menu {
		li {
			padding: 6px 6px;
			min-width: 100px;
		}
	}
	.sub-sub-menu {
		min-width: 100px;
	}
	.sub-sub-sub-menu {
		min-width: 100px;
	}
	.footer {
		height: 26.2px;
	}
}

@media(max-width: 490px){
	.menu {
		&__list {	
			margin-bottom: -2px;
		}
	}
}

@media(max-width: 400px){
	.wrapper {
		padding: 0px 7px;
		max-width: 340px;
	}
	.container {
		padding: 0px 7px;
	}
	.menu {
		font-size: 12px;
		&__list{
			margin-right: 20px;
		}
	}
	.sub-menu {
		font-size: 12px;
		li {
			min-width: 90px;
		}
	}
	.sub-sub-menu {
		font-size: 12px;
		min-width: 90px;
	}
	.sub-sub-sub-menu {
		font-size: 12px;
		min-width: 90px;
	}
}